# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Streamlit
.streamlit/
*.streamlit

# Virtual environment
venv/
env/
.venv/
env.bak/
venv.bak/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Logs i cache
*.log
*.cache
.DS_Store
Thumbs.db

# Ostalo
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3